.cosmatt-unitLabelControl {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.cosmatt-unitLabelControl .unitInputLabel{
  display: inline;
  padding: 5px;
  
}

.cosmatt-unitLabelControl .unitLabel{
   display: inline;
   padding: 5px;
   color: #cb3434;
  
}