.cosmatt-motionProfile {
  position: relative;
}
.cosmatt-motionProfile.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cosmatt-motionProfile.assessment-mode {
  box-shadow: 0 0 0 #ddd !important;
  border: none !important;
}
.cosmatt-motionProfile.assessment-mode .form-horizontal .inputs .input-container .control-label {
  top: -8px;
  position: relative;
}
.cosmatt-motionProfile #inputControls .form-horizontal {
  width: 100%;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs.output-entries {
  width: 50%;
  float: right;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs.output-entries .input-container {
  float: right;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs.input-entries {
  width: 50%;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs .input-container {
  width: 100%;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs .input-container .control-label {
  width: 34%;
  display: inline-block;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs .input-container .combo-container {
  padding-left: 15px;
  width: 64%;
  display: inline-block;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs .input-container .combo-container .cosmatt-unitComboBox .response-status {
  display: inline-block;
  padding-left: 8px;
  font-size: 12px;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs .input-container .combo-container .cosmatt-unitComboBox .response-status .incorrect {
  font-size: 14px;
  color: #da1a33;
  display: inline-block;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs .input-container .combo-container .cosmatt-unitComboBox .response-status .correct {
  display: inline-block;
  color: #388e3c;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs .input-container .combo-container .cosmatt-unitComboBox .response-status .correct-answer {
  display: inline-block;
  color: #388e3c;
  padding-left: 5px;
  font-weight: bold;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs #indexTypeInputContainer .combo-container .cosmatt-unitComboBox .unitTextBox {
  width: 62%;
  max-width: 210px;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs #indexTypeInputContainer .combo-container .cosmatt-unitComboBox .unitTextBox .input-group {
  display: block;
}
.cosmatt-motionProfile #inputControls .form-horizontal .inputs #indexTypeInputContainer .combo-container .cosmatt-unitComboBox .unitTextBox .input-group input {
  width: 100%;
}
.cosmatt-motionProfile #inputControls .correct .cosmatt-unitComboBox .unitTextBox {
  background-color: #f0fff0;
  border-color: #7DC27D;
}
.cosmatt-motionProfile #inputControls .correct .cosmatt-unitComboBox .unitTextBox .form-control {
  background-color: #f0fff0;
  border-color: #7DC27D;
}
.cosmatt-motionProfile #inputControls .correct .cosmatt-unitComboBox .unitComboBox {
  background-color: #f0fff0;
  border-color: #7DC27D;
}
.cosmatt-motionProfile #inputControls .correct .cosmatt-unitComboBox .unitComboBox .btn-group .boxSelectedVal {
  background-color: #f0fff0;
  border-color: #7DC27D;
  opacity: 1;
}
.cosmatt-motionProfile #inputControls .incorrect .cosmatt-unitComboBox .unitTextBox {
  background-color: #fff0f0;
  border-color: #A90329;
}
.cosmatt-motionProfile #inputControls .incorrect .cosmatt-unitComboBox .unitTextBox .form-control {
  background-color: #fff0f0;
  border-color: #A90329;
}
.cosmatt-motionProfile #inputControls .incorrect .cosmatt-unitComboBox .unitComboBox {
  background-color: #fff0f0;
  border-color: #A90329;
}
.cosmatt-motionProfile #inputControls .incorrect .cosmatt-unitComboBox .unitComboBox .btn-group .boxSelectedVal {
  background-color: #fff0f0;
  border-color: #A90329;
  opacity: 1;
}
.cosmatt-motionProfile.resizeon1240 #inputControls .form-horizontal .inputs .input-container .combo-container .cosmatt-unitComboBox .response-status {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 32%;
}
.cosmatt-motionProfile.lowerResolution #inputControls .form-horizontal .inputs .input-container {
  margin-bottom: 7px;
}
.cosmatt-motionProfile.lowerResolution #inputControls .form-horizontal .inputs .input-container .control-label {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 20%;
}
.cosmatt-motionProfile.lowerResolution #inputControls .form-horizontal .inputs .input-container .combo-container {
  display: block;
  width: 100%;
  margin-left: 20%;
  padding-left: 0;
}
.cosmatt-motionProfile.lowerResolution #inputControls .form-horizontal .inputs .input-container .combo-container .cosmatt-unitComboBox .response-status {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 32%;
}
.cosmatt-motionProfile #profileButtons {
  margin: 10px 0;
}
.cosmatt-motionProfile .profileButton {
  margin-right: 10px;
}
.cosmatt-motionProfile #graphContainer .graphArea {
  height: 400px;
  min-width: 10px;
  display: inline-block;
  margin: 0px 15px;
  max-height: 400px;
  min-height: 250px;
}
.cosmatt-motionProfile #graphContainer .graphArea:first-child {
  margin-left: 0px !important;
}
.cosmatt-motionProfile #graphContainer .graphArea:last-child {
  margin-right: 0px !important;
}
.cosmatt-motionProfile #graphContainer .graphArea .legend table {
  pointer-events: none;
  margin: 0px !important;
  width: initial;
}
.cosmatt-motionProfile #graphContainer .graphArea .legend table tr {
  background-color: transparent !important;
  border-width: 0px !important;
}
.cosmatt-motionProfile #graphContainer .graphArea .legend table tr td {
  border-width: 0px !important;
  padding: 0px !important;
  vertical-align: middle;
}
.cosmatt-motionProfile #graphContainer .graphArea .legend table tr td.legendColorBox div div {
  border-radius: 0% !important;
  width: 0 !important;
}
.cosmatt-motionProfile .smoothnessDropDown .smoothnessDDMenu {
  max-width: 211px;
  width: 64%;
}
.cosmatt-motionProfile #tooltip {
  padding: 4px 10px !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: solid 1px #000 !important;
  z-index: 100 !important;
  font-size: 12px !important;
  color: #fff !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  position: absolute;
  display: none;
}
.cosmatt-motionProfile .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
}
